*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box;
    border:dashed; */
    }

body {
    background-color: rgb(226, 199, 82);
    background-image: url('assets/body.svg'); 
    margin-left: 0%;
    background-size: cover;
}
/* the main container */

.card{
 width:40%;
 height:40%;
  margin: 3em auto;
  overflow: hidden;
  box-shadow: 2px 5px 15px 0px #17161694;
  background-color: transparent

}

#front-card{

  background-image: url('assets/front-card.svg');
  background-size: cover;
}
 
#back-card {
  background-repeat: no-repeat;
  background-size:cover;
border-color: black;
}
h1{
  /* to left align text */
  font-size: 2em;
  margin-top: 10%;
  margin-left:45%;

font-family: 'owners', sans-serif;
}

.back-text {
  margin-top: 50%;
  margin-left:45%;
  border-radius: 1em;
}

h3{
  font-size: 2em;
  font-family: 'owners', sans-serif;
  font-weight: 300;
  margin-left:45%;
}

h5{
  font-size: 2em;
  font-family: 'owners', sans-serif;
  font-weight:300;
  margin-left:45%;
}

.icon-container{
  display:grid;
  /* grid-row-gap: */
  position: absolute;
  width: 7%;
  margin: auto;
  left:600px;
  bottom:50px;
  top: 450px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "a" 
  "b"
  "c";
}
svg{
  fill:rgb(0, 0, 0);
}

svg:hover{
  fill:rgb(117, 168, 189);
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
animation-duration: 2s; /* don't forget to set a duration! *
}